/* CSS Style for FreBDM */

/* Two-columns (optional) */
/* body { -webkit-column-count: 2; } */

/* Custom font "EB Garamond", , "Times New Roman", Times 


/*Texte biblique en lui-même "body" */
body { -webkit-column-count: 1 ; margin-top: 5px ; text-align: justify ; font-family: URW Chancery L ; color: }
div[subSection]{
    color: black; text-align: justify ; font-family: "Linux Libertine O" ; }

.seg[otPassage] {  color: blue; }

/* Texte des introduction */
.introMaterial { -webkit-column-count: 1 ; background-color: ; color:chocolate ; text-align: justify ; }
.introduction { color: black; font-family: "Linux Libertine O" ; text-align: left ;  margin: 0.0cm ; margin-top: 30px ; font-size: 28px ; font-variant: small-caps;}

/* Titre 1 pour introduction */
.x-IS { color: black; font-family: "Linux Libertine O" ; text-align: center ;  margin: 0.0cm ; margin-top: 30px ; font-variant: small-caps;}

.x-IS2 { color: black; font-family: "Linux Libertine O" ; text-align: left ;  margin: 0.0cm ; margin-top: 30px ; font-size: 28px ; }

/* Différents titres par ordre de grandeur dans le texte biblique */
.main { color: SaddleBrown; text-align: center ; font-family: "Linux Libertine O" ; font-size: 50px ; margin: 0.0cm ; margin-top: 30px ; }

.x-ms { color: CadetBlue; text-align: center ; font-family: "Linux Libertine O" ;  font-size: 33px ; margin: 0.0cm ; }

.x-ms2 { color: CadetBlue; text-align: left ; font-family: "Linux Libertine O" ; font-size: 23px ;}

.x-s { color: Blue; text-align: left ; font-family: "Linux Libertine O" ; font-size: 20px ; line-height: 22px; margin: 0.0cm ; margin-top: 10px ;}

.x-s2 { color: CornflowerBlue; font-family: "Linux Libertine O" ; text-align: center ; font-size: 18px ; line-height: 20px; margin: 0.0cm ; margin-top: 15px ; font-variant: small-caps;}

.x-s3 { color: DodgerBlue; text-align: left ; font-family: "Linux Libertine O" ; font-size: 16px ; line-height: 18px; margin: 0.0cm ; margin-top: 10px ; font-variant: small-caps;}
.otPassage { color: DarkCyan; text-align: right ; font-family: "Linux Libertine O" ;  font-size: 14px ; line-height: 15px; margin: 0.0cm ; font-variant: small-caps;}
